header{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color:rgb(63, 70, 70);
    align-content: center;
}
main{
    display: flex;
    
}
    
.menu{
    border: 1px solid gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
    color: goldenrod;
}

aside{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border: 1px solid gold;
    border-radius: 40px;
    
}
section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 2;

}
footer{
    display: flex;
    flex-direction: column ;
    align-content: end;
}